#####################################################################
#   Macros
#####################################################################

# MOTION MACROS------------------------------------------------------
# -------------------------------------------------------------------
[gcode_macro PARK]
gcode:
    {% set th = printer.toolhead %}
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} Z30  
# -------------------------------------------------------------------
# [gcode_macro LOAD_FILAMENT]
# description: Load filament with preheat, position, extrusion, and cooldown
# variable_target_temp: 220    # Default nozzle temp
# gcode:
#     {% set T = params.TARGET|default(variable_target_temp)|int %}
    
#     # Home axes
#     G28
    
#     # Move to bed center
#     G90
#     G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z50 F6000
    
#     # Preheat nozzle
#     M104 S{T}
#     M109 S{T}
    
#     RESPOND TYPE=echo MSG="Insert filament now, then resume when ready..."
#     PAUSE     # waits for you to click "Resume" in UI after inserting filament
    
#     # Extrude 4x50mm
#     RESPOND TYPE=echo MSG="Extruding filament..."
#     G91
#     {% for i in range(4) %}
#         G1 E50 F300
#         G4 P500
#     {% endfor %}
#     G90
    
#     # Cool down nozzle
#     M104 S0
#     RESPOND TYPE=echo MSG="Load complete. Nozzle cooling down."

# -------------------------------------------------------------------
[gcode_macro CLEAN_NOZZLE]
# Wipe nozzle on Bambu silicon nozzle wiper
gcode:
    M117 Wiping Nozzle
    G91                         ; relative positioning
    G1 Z10 F3000                ; lift head 10mm for clearance
    G90                         ; back to absolute
    G1 X0 Y295 F6000            ; move to wipe start position
    G1 Z5.3 F1200                 ; lower to wipe height

    G1 X43 F2000                ; wipe right
    G1 X0 F3000                 ; wipe left
    G1 X43 F4000                ; wipe right
    G1 X0 F4000                 ; wipe left
    G1 X43 F4000                ; final wipe right
    G1 E-0.8 F1200              ; retract filament 0.8mm to prevent oozing before starting print
    G91                         ; relative positioning
    G1 Z12 F3000                ; lift printhead off of brush for safety
    G90
    G1 X100 F4000               ; move printhead away from nozzle wiper
    G1 Y200 F4000
    M117 Nozzle wipe complete
# -------------------------------------------------------------------
[gcode_macro CAL_PROBE]
description: Calibrate offset of inductive probe
gcode:
  {% set x_center = ( printer.toolhead.axis_maximum.x - printer.toolhead.axis_minimum.x ) | float / 2 %}
  {% set y_center = ( printer.toolhead.axis_maximum.y - printer.toolhead.axis_minimum.y) | float / 2 %}
  G90
  G28
  SET_GCODE_OFFSET Z=0
  BED_MESH_CLEAR       # Clears old saved bed mesh (if any)
  CLEAR_PAUSE

  {% if "Z_TILT_ADJUST" in printer.gcode.commands %}
    Z_TILT_ADJUST
  {% else %}
    QUAD_GANTRY_LEVEL
  {% endif %}

  G28 Z

  G0 Z10 F3000
  G0 X{x_center} Y{y_center} F10000

  # {% if "Z_ENDSTOP_CALIBRATE" in printer.gcode.commands %}
  #   Z_ENDSTOP_CALIBRATE
  # #{% else %}
  #   #PROBE_CALIBRATE
  # {% endif %}
  PROBE_CALIBRATE
# -------------------------------------------------------------------
[gcode_macro CAL_ENDSTOP]
description: Calibrate offset of physical Z-endstop pin
gcode:
  {% set x_center = ( printer.toolhead.axis_maximum.x - printer.toolhead.axis_minimum.x ) | float / 2 %}
  {% set y_center = ( printer.toolhead.axis_maximum.y - printer.toolhead.axis_minimum.y) | float / 2 %}
  G90
  G28
  SET_GCODE_OFFSET Z=0
  BED_MESH_CLEAR       # Clears old saved bed mesh (if any)
  CLEAR_PAUSE

  {% if "Z_TILT_ADJUST" in printer.gcode.commands %}
    Z_TILT_ADJUST
  {% else %}
    QUAD_GANTRY_LEVEL
  {% endif %}

  G28 Z

  G0 Z10 F3000
  G0 X{x_center} Y{y_center} F10000

  # {% if "Z_ENDSTOP_CALIBRATE" in printer.gcode.commands %}
  Z_ENDSTOP_CALIBRATE
  # #{% else %}
  #   #PROBE_CALIBRATE
  # {% endif %}
  #PROBE_CALIBRATE
  #---------------------------------------------------------------------
[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    # If QGL is not applied, first run a course calibration
    {% if printer.quad_gantry_level.applied == False %}
        _QUAD_GANTRY_LEVEL RETRY_TOLERANCE=1.0
    {% endif %}
    # then perform fine QGL down to desired spec
    # this has to be a separate macro call so the results of the above call will be visible!
    _FINE_QUAD_GANTRY_LEVEL

[gcode_macro _FINE_QUAD_GANTRY_LEVEL]
gcode:
    {% if printer.quad_gantry_level.applied == True %}
        # go for full quality at reduced probing height
        _QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=5.0  # <- set your preferred probing height here!
    {% else %}
        # This should never happen, just perform the full calibration using the defaults
        {action_respond_info("Fine QGL called without calling course QGL first!")}
        _QUAD_GANTRY_LEVEL  # default behavior, no speedup
    {% endif %}
# -------------------------------------------------------------------
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS

    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    
    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0
    SET_GCODE_OFFSET Z=0
# --------------------------------------------------------------------